@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
  font-family: "Cabin", "Helvetica", "sans-serif";
  color: rgb(132, 220, 250);
  background-color: #303747;
}
.launch {
  text-align: center;
}
.launch h1{
  font-size: 40px;
  display: inline-block;
  padding: 2px 8px;
  color: aliceblue;
  background-color: mediumslateblue;
  border-radius: 10px;
}
.launch p{
  font-size: 18px;
  /* border-radius: 10px;
  padding: 10px 10px;
  border: 2px solid white; */
}